/* == Task + Task Actions == */

    /* Task Basics */

        /* Classes */

            .task {
                -webkit-border-radius: 3px;
                border-radius: 3px;
                width: 99.5%;
                min-height: 5px;
                transition: background-color 200ms ease-in-out;
                border: 1px solid transparent;
            }

                .thov:hover {
                    background-color: var(--task-feature) !important;
                }

            .task-display {
                height: 30px;
            }

            .task-edit {
                border: 1px solid transparent;
            }

    /* Task Elements */

        /* Classes */

            .task-name {
                font-weight:400;
                background-color:inherit;
                color: var(--content-normal-alt);
                padding: 10px 5px 10px 5px;
                border: 0px;
                display: inline-block;
                height: 30px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                text-overflow: ellipsis;
            }

                .task-name:focus {
                    background-color: var(--content-normal);
                }

                @media (max-width: 575px) { 
                    .task-name {
                        font-size: 12pt;
                        width: 67%;
                    }
                }

                @media (min-width: 576px) { 
                    .task-name {
                        font-size: 12pt;
                        width: 75%;
                    }
                }

                @media (min-width: 768px) { 
                    .task-name {
                        font-size: 12pt;
                        width: 85%;
                    }
                }

                @media (min-width: 992px) { 
                    .task-name {
                        font-size: 12pt;
                        width: 85%;
                    }
                }

                @media (min-width: 1200px) { 
                    .task-name {
                        font-size: 12pt;
                        width: 85%;
                    }
                }



            .task-desc {
                font-size: 9pt;
                font-weight:300;
                background-color:inherit;
                color: var(--task-textbox);
                margin: 0 5px 0 0;
                padding: 2px 1px 0 5px;
                border: 0px;
                display: block;
                width: 100%;
                height: 50px;
                resize: none;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                -webkit-transition-property: all;
                -webkit-transition-duration: 200ms;
                -webkit-transition-timing-function: ease-in-out;
                transition-property: all;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
            }

                .task-desc:focus{
                    background-color: var(--content-normal);
                }

                .task-desc::placeholder{
                    color: var(--decorative-light);
                }

            .textbox {
                font-size: 9pt;
                font-weight: 500;
                background-color: var(--task-textbox-background);
                color: var(--task-textbox);
                padding: 0px 2px 0 0;
                border: 0px;
                display: block;
                height: 20px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                transform: translateY(-1px);
                width: 26%;
            }

            .task-flagged {
                background-color: var(--task-textbox-background);
                height: 20px;
                width: 50px;
                font-size: 9px;
                color: var(--task-clickbox);
                margin: 0px !important;
                border-radius: 3px;
            }

                .task-flagged.active{
                    background-color: var(--special);
                    box-shadow: 0;
                    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
                    box-shadow: 0 5px 15px rgba(0,0,0,0);
                }

                .task-flagged:hover {
                    color: var(--task-clickbox-accent);
                }

            .task-floating {
                background-color: var(--task-clickbox-background);
                height: 20px;
                width: 50px;
                font-size: 9px;
                color: var(--task-clickbox);
                margin: 0px !important;
                border-radius: 3px;
            }

                .task-floating.active{
                    background-color: var(--task-checkbox-feature-alt);
                    box-shadow: 0;
                    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
                    box-shadow: 0 5px 15px rgba(0,0,0,0);
                }

                .task-floating:hover {
                    color: var(--task-clickbox-accent);
                }

            .task-tools {
                margin-top: 10px;
                
            }          

                @media (max-width: 575px) { 
                    .task-tools {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;
                    }
                }

                @media (min-width: 576px) { 
                    .task-tools {
                        width: 95%;
                        display: flex;
                        justify-content: flex-start;
                    }
                }

                @media (min-width: 768px) { 
                    .task-tools {
                        width: 95%;
                        display: flex;
                        justify-content: flex-start;
                    }
                }

                @media (min-width: 992px) { 
                    .task-tools {
                        width: 95%;
                        display: flex;
                        justify-content: flex-start;
                    }
                }

                @media (min-width: 1200px) { 
                    .task-tools {
                        width: 95%;
                        display: flex;
                        justify-content: flex-start;
                    }
                }

            .task-tools-sub {
                margin-bottom: 8px;
            }

            .task-tools-toggles {
                flex-shrink: 3;
                padding-right: 20px;
            }

            .task-tools-date {
                flex-grow: 3;
            }

            .task-tools-project {

            }
        
                @media (max-width: 575px) { 
                    .task-tools-project {
                        width: 100%;
                    }
                }

                @media (min-width: 576px) { 
                    .task-tools-project {
                        width: 30%;
                    }
                }

                @media (min-width: 768px) { 
                    .task-tools-project {
                        width: 30%;
                    }
                }

                @media (min-width: 992px) { 
                    .task-tools-project {
                        width: 30%;
                    }
                }

                @media (min-width: 1200px) { 
                    .task-tools-project {
                        width: 30%;
                    }
                }

            .task-tools-tags {

            }

                @media (max-width: 575px) { 
                    .task-tools-tags {
                        width: 100%;
                    }
                }

                @media (min-width: 576px) { 
                    .task-tools-tags {
                        width: 70%;
                    }
                }

                @media (min-width: 768px) { 
                    .task-tools-tags {
                        width: 70%;
                    }
                }

                @media (min-width: 992px) { 
                    .task-tools-tags {
                        width: 70%;
                    }
                }

                @media (min-width: 1200px) { 
                    .task-tools-tags {
                        width: 70%;
                    }
                }

            .task-subicon {
                font-size: 10px;
                vertical-align: middle;
                text-align: center;
                width: 17px;
                height: 17px;
                border-radius: 3px;
                border: 1px solid var(--task-feature-alt);
                color: var(--task-feature-alt);
                cursor: pointer;
                margin-right: 6px;
                -webkit-transition-property: all;
                -webkit-transition-duration: 200ms;
                -webkit-transition-timing-function: ease-in-out;
                transition-property: all;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
            }

                .task-subicon:hover {
                    color: var(--decorative-light-alt);
                    background-color: var(--content-normal);
                }

    /* Custom Text Edit Elements */

        /* Checkmark */

            /* Classes */

                .tick-icon {
                    position: absolute;
                    width: 0;
                    height: 0;
                    pointer-events: none;
                    user-select: none;
                }

                .task-check:not(:checked),
                .task-check:checked {
                    position: absolute;
                    visibility: hidden;
                }

                .task-check:not(:checked) + label,
                .task-check:checked + label {
                    position: relative;
                    padding-left: 1.95em;
                    cursor: pointer;
                }

                /* checkbox aspect */
                .task-check:not(:checked) + label:before,
                .task-check:checked + label:before {
                    content: '';
                    position: absolute;
                    left: 6px; top: 4.4px;
                    width: 1em; height: 1em;
                    border: 1px solid var(--task-checkbox);
                    border-radius: 4px;
                    /*box-shadow: inset 0 1px 3px rgba(0,0,0,.1);*/
                }

                .task-check:not(:checked) + label.ds:before,
                .task-check:checked + label.ds:before {
                    content: '';
                    position: absolute;
                    left: 6px; top: 4.4px;
                    width: 1em; height: 1em;
                    border: 1px solid var(--task-checkbox-ds);
                    background: var(--task-checkbox-ds-background);
                    border-radius: 4px;
                    /*box-shadow: inset 0 1px 3px rgba(0,0,0,.1);*/
                }

                .task-check:not(:checked) + label.od:before,
                .task-check:checked + label.od:before {
                    content: '';
                    position: absolute;
                    left: 6px; top: 4.4px;
                    width: 1em; height: 1em;
                    border: 1px solid var(--task-checkbox-od);
                    background: var(--task-checkbox-od-background);
                    border-radius: 4px;
                    /*box-shadow: inset 0 1px 3px rgba(0,0,0,.1);*/
                }

                /* checked mark aspect */
                .task-check:not(:checked) + label:after,
                .task-check:checked + label:after {
                    font-family: FontAwesome;
                    font-weight: 900; /* Fix version 5.0.9 */
                    text-transform: text;           /* proposed */
                    content: '\f00c';
                    position: absolute;
                    top: .15em; 
                    left: .10em;
                    font-size: 9px;
                    line-height: 0.6;
                    color: var(--task-checkmark);
                    transition: transform 100ms;
                    transform: translate(8px, 9.5px) !important;
                }

                .task-check:not(:checked) + label.ds:after,
                .task-check:checked + label.ds:after {
                    font-family: FontAwesome;
                    font-weight: 900; /* Fix version 5.0.9 */
                    text-transform: text;           /* proposed */
                    content: '\f00c';
                    position: absolute;
                    top: .15em;
                    left: .10em;
                    font-size: 9px;
                    line-height: 0.6;
                    color: var(--task-checkmark-ds);
                    transition: transform 100ms;
                    transform: translate(8px, 9.5px) !important;
                }

                .task-check:not(:checked) + label.od:after,
                .task-check:checked + label.od:after {
                    font-family: FontAwesome;
                    font-weight: 900; /* Fix version 5.0.9 */
                    text-transform: text;           /* proposed */
                    content: '\f00c';
                    position: absolute;
                    top: .15em; 
                    left: .10em;
                    font-size: 9px;
                    line-height: 0.6;
                    color: var(--task-checkbox-od);
                    transition: transform 100ms;
                    transform: translate(8px, 9.5px) !important;
                }

                /* checked mark aspect changes */
                .task-check:not(:checked) + label:after {
                    opacity: 0;
                    transform: scale(0);
                }
                .task-check:checked + label:after {
                    opacity: 1;
                    transform: scale(1);
                }

                /* hover style just for information */
                label:hover:before {
                    background-color: var(--task-checkbox-feature) !important;
                }

                label.ds:hover:before {
                    background-color: var(--task-checkbox-ds-feature) !important;
                }

                label.od:hover:before {
                    background-color: var(--task-checkbox-od-feature) !important;
                }

        /* Tagsinput + Typeahead */

            /* Classes */

                .bootstrap-tagsinput {
                    background-color: var(--task-textbox-background);
                    height: auto !important;
                    min-height: 20px;
                    transform: translateX(-4px);
                    display: inline-block;
                    width: 80%;
                    /*height: 20px;*/
                }

                    @media (max-width: 575px) { 
                        .bootstrap-tagsinput {
                            width: 80%;
                        }
                    }

                    @media (min-width: 576px) { 
                        .bootstrap-tagsinput {
                            width: 80%;
                        }
                    }

                    @media (min-width: 768px) { 
                        .bootstrap-tagsinput {
                            width: 85%;
                        }

                    }

                    @media (min-width: 992px) { 
                        .bootstrap-tagsinput {
                            width: 90%;
                        }
                    }

                    @media (min-width: 1200px) { 
                        .bootstrap-tagsinput {
                            width: 90%;
                        }
                    }

                .bootstrap-tagsinput > .label-info {
                    position: relative;
                    background-color: var(--special);
                    display: inline-block;  /* <- ADD THIS */
                    transform: translateY(-2px);
                    font-size: 10px;
                    padding: 1px 4px 1px 4px;
                    color: var(--decorative-light-accent);
                    border-radius: 2px;
                }

                .bootstrap-tagsinput input {
                    background-color: transparent;
                    border: 0;
                    border-bottom: 3px;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                    min-height: 20px;
                    transform: translateX(5px) translateY(1px);
                    min-width: 70px;
                    font-size: 9pt;
                    text-overflow: ellipsis;
                    font-weight: 500;
                    color: var(--task-textbox);
                    padding: 0px 2px 0 0;
                    overflow: ellipsis;
                }

                .tt-menu {
                    background-color: var(--background);
                    font-size: 11px;
                    transform: translateY(-3px);
                    cursor: pointer;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                    border: 0.5px solid var(--decorative-light);
                    box-shadow: 0 2px 3px var(--background-feature);
                    transition: all 400ms;
                }

                .tt-suggestion {
                    padding: 2px 10px 2px 10px;
                    color: var(--content-normal-alt);
                    transition: all 400ms;
                }

                    .tt-suggestion:hover {
                        background-color: var(--background-feature);
                    }

                .tt-cursor {
                    background-color: var(--background-feature);
                }
        
        /* Select2 */

            /* Classes */

                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    color: var(--content-normal-alt);
                }

                .select2-container--default .select2-selection--single {
                    background-color: var(--task-textbox-background) !important;
                    color: var(--content-normal-alt);
                    border: 0;
                    height: 20px;
                    margin-right: 4px;
                }

                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    line-height: 20px;
                    font-size: 9pt;
                }

                .select2-container--default .select2-selection--single .select2-selection__arrow {
                    height: 18px;
                }

                .select2-container--default .select2-search--dropdown .select2-search__field {
                    border-radius: 3px;
                    background-color: var(--background-feature) !important;
                    border: 0;
                }

                .select2-container--default .select2-results__option--highlighted[aria-selected] {
                    background-color: var(--task-textbox-background) !important;
                    color: var(--content-normal-alt);

                }

                .select2-results__option[aria-selected] {
                    color: var(--content-normal-alt);
                }
                 
                .select2-results__option {
                    transition: background-color 400ms;
                }

                .select2-selection__arrow {
                    display: none;
                }

                .select2-dropdown {
                    font-size: 11px;
                    background-color: var(--background);
                }

                .select2-selection__clear {
                    transform: translateY(-1px);
                }


                    /*@media (max-width: 575px) { */
                        /*.task-project {*/
                            /*width: 84%;*/
                            /*transform: translateX(5px);*/
                        /*}*/
                    /*}*/

                    /*@media (min-width: 576px) { */
                        /*.task-project {*/
                            /*width: 57%;*/
                        /*}*/
                    /*}*/

                    /*@media (min-width: 768px) { */
                        /*.task-project {*/
                            /*width: 70%;*/
                        /*}*/
                    /*}*/

                    /*@media (min-width: 992px) { */
                        /*.task-project {*/
                            /*width: 76%;*/
                        /*}*/
                    /*}*/

                    /*@media (min-width: 1200px) { */
                        /*.task-project {*/
                            /*width: 75%;*/
                        /*}*/
                    /*}*/

                /*.es-list {*/
                    /*background-color: var(--background);*/
                    /*font-size: 11px;*/
                    /*transform: translateY(-3px);*/
                    /*cursor: pointer;*/
                    /*-webkit-border-radius: 3px;*/
                    /*border-radius: 3px;*/
                    /*border: 0.5px solid  var(--background-feature);*/
                    /*width: auto !important;*/
                    /*color: var(--content-normal-alt);*/
                    /*box-shadow: 0 2px 3px var(--background-feature);*/
                /*}*/


